@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Inter", sans-serif;
  color: "#121927";
}
.hide__scrollbar::-webkit-scrollbar {
  @apply w-full overflow-scroll mt-5;
  display: none;
  scroll-behavior: smooth;
}
.hide__scrollbar {
  @apply w-full overflow-scroll mt-5;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
